import * as React from 'react';
import { Component, Props } from 'react';

interface {{name}}Props extends Props {

}

export default class {{name}} extends Component<{{name}}Props, {}> {
  render() {
    return <div className='{{name}}'></div>;
  }
}